환경 변수 명을 맞추기 위한 샘플 파일입니다.
정보 보호를 위해 실제 키 값이 들어있는 파일은 올리지 않았습니다.
brentversal(현재위치)에 새 파일 생성하여 .env파일을 만들어주시고
아래 내용을 복붙해주세요.

DB_USER=
JWT_KEY=
JWT_EXPIRATION=
DB_ENDPOINT=
DB_PORT=
DB_NAME=
DB_USER_NAME=
DB_PWD=

S3_KEY=
S3_SECRET_KEY=

BUCKET_NAME=