# 필요한 환경변수 이름만 적어둔 예시 파일

# 서울 열린데이터광장 OpenAPI 인증키
SEOUL_OPEN_DATA_KEY=

# 공공데이터포털 Decoding 서비스키
PUBLIC_DATA_API_KEY=

# WordCloud 생성 시 사용할 한글 폰트 경로
# Windows 10/11의 맑은 고딕 기본 경로 예시
# 실제로 존재하는지 여부 확인법
# Powershell 실행 후 "Test-Path C:\Windows\Fonts\malgun.ttf" 입력 -> True(있음) / False(없음)
KOREAN_FONT_PATH=C:/Windows/Fonts/malgun.ttf